<br>
<h1>A PROPOS NOUS</h1>
<br><br>


<div class="card bg-dark text-white" >
    <img src="assets/photoabout2.webp" class="card-img" alt="..." width="400px" height="400px">
    <div class="card-img-overlay">
      <h5 class="card-title">Maquillage!</h5>
      <p class="card-text"> Essentiel beauté incontournable, le maquillage est notre meilleur allié !<br>
         Teint frais, lèvres
        gourmandes et smoky eyes,<br>
         le makeup parfait est à portée de main. On laisse libre cours
        à toutes nos envies maquillage en créant des looks à l'infini !</p><br><br>
      <p class="card-text"> Best-sellers ou nouveautés
        beauté, le maquillage n'a jamais été aussi fun qu'avec BeautyStore!</p>
    </div>
  </div><br><br>
  <div>
    <p id="para">
        Prenez soin de votre beauté et faites votre choix parmi la très large offre de produits cosmétiques de 
BeautyStore.tn ! Pour un visage parfait, un maquillage sans défaut , 
BeautyStore.tn vous propose une varieté de produits de qualité créés par des marques mondiales de 
renom comme , Max Factor, Clarins,Anastasia et bien d’autres.

Nous suivons toutes les tendances actuelles et 
sélectionnons pour vous les meilleures nouveautés du 
monde de la cosmétique. Les amoureux des petits prix peuvent 
chaque semaine profiter de nos produits cosmétiques en promo(Pink Friday!!) !
    </p>
    

</div>
<br><br><br>

<div>
    <p id="para">
    Les cosmétiques en ligne nous aident à prendre soin de la beauté de notre visage avec des produits 
professionnels à des prix abordables. Obtenez les meilleurs produits cosmétiques sans 
quitter votre domicile et achetez chez vous des cosmétiques en ligne.
</p>
</div>

  <br><br>

<app-footer></app-footer>
