<div class="searchBox">
<input type="text" name="search" class="searchInput" placeholder="Chercher le produit qui vous convient..." 
 [(ngModel)]="entersearchvalue" (input)="onSearchTextChanged()">

 <button class="searchButton" href="#">
    <i class="material-icons">
        search
    </i>
</button>
</div>

<!--<div class="searchBox">

    <input class="searchInput"type="text" name="" placeholder="Chercher le produit qui vous convient">
    <button class="searchButton" href="#">
        <i class="material-icons">
            search
        </i>
    </button>
</div>-->
